@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

/* === Nav === */
nav {
  font-size: .8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em; 
  height: 5em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

#nav--logo{
  width: 5em;;
}

.cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: clamp(200px, 70vw, 800px);
  padding: 1rem 0;
}

.card--item{
  display: grid;
  margin-top: 1rem;
  grid-template-columns:  1fr 1fr;
  grid-template-areas:
    ". ."
    "img img"
    "img img"
    "location location"
    "title title"
    "date date"
    "description description"
    "description description"
    ". .";

  @media screen and (min-width: 768px) {
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-areas:
      ". . ."
      "img location location"
      "img title title"
      "img  date date"
      "img description description"
      ". . .";
  }
}

.card--img{
  width: 100%;
  object-fit: cover;
  grid-area: img;
  border-radius: 10px;
  aspect-ratio: 2/1.5;

  @media screen and (min-width: 768px) {
   aspect-ratio: 3/4;
  }
}

.card--location{
  grid-area: location;
  display: flex;
  align-items: center;
  font-size: .8rem;
  gap: .5em;
  padding: .5em 0;

  a{
    color: rgb(143, 139, 139);
  }
  .location--img{
    width: 1.2em;
  }
  @media screen and (min-width: 768px) {
    font-size: 1rem;
    .location--img{
      width: 1.5em;
    }
  }

}



.card--title{
  grid-area: title;
  font-size: clamp(1rem, 3vw, 2rem);
}

.card--date{
  grid-area: date;
  display: flex;
  align-items: center;
  font-size: .8rem;
  font-weight: bold;
  padding: .8em 0;
}

.card--info{
  grid-area: description;
  line-height: 1.3;
}

@media screen and (min-width: 768px) {
  .card--location,
  .card--date,
  .card--title,
  .card--info{
    padding: 0 1rem;
  }
}



